@use './../../../scss/mixins' as logo;

:host {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background: var(--main);
  padding: 0 var(--margin-large);
  border-bottom: 1px solid var(--darkGrayLine);
  color: var(--title);
}

/* @include mobile {
   padding: 0 var(--margin-large);
   padding-left: 0;
   padding-right: var(--margin-small);
 }*/
.logo {
  display: flex;
  align-items: center;
  width: 16.75rem;
  border-right: 2px solid var(--darkGrayLine);
  height: 100%;

  @include logo.mobile {
    display: none;
  }


}

.Launch__title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  max-width: 16rem;
}

