@use './../../../../scss/mixins' as column;

:host {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14rem, 17.5rem));
  grid-template-rows: 1fr;
  @include column.tablet {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 15rem));
  }
  @include column.mobile {
    grid-template-columns: repeat(auto-fit, minmax(7rem, 14rem));
  }
}

.Column {
  display: flex;
  flex-direction: column;
  margin-right: var(--margin-large);
  width: 100%;
  height: 100%;
  color: var(--title);
  user-select: none;
  transition: all .2s ease;

  .Column__container {
    height: 90vh;
    width: 100%;

    &.empty {
      outline: 1px dashed var(--mediumGrayOpacity);
      outline-width: 2px;
      border-radius: 6px;
    }
  }
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
  padding: 15px 10px;
  background: var(--darkGray);
  opacity: 0.7;
  color: var(--color-text);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.task:last-child {
  border: none;
}

.tasks-container.cdk-drop-list-dragging .task:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}



