.form {
  display: flex;
  flex-direction: column;
  background: var(--darkGray);
  color: var(--color-text);
  padding: 1.5rem;
  width: 500px;

  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      color: var(--color-text);
      padding-left: 0;
    }

    .btn-title {

    }
  }

  .description {
    span {
      color: white;
      opacity: 0.5;
      font-size: var(--font-12);
    }
  }

  .content {
    padding-left: 0;
    color: var(--color-text);

    mat-list-option {
      background: var(--bg-main);
      margin-bottom: 5px;
      border-radius: 10px;

      &:hover {
        background: rgba(99, 95, 199, .25);
      }

      .item {
        color: white;

        &.check {
          text-decoration: line-through;
          opacity: 0.5;
        }
      }
    }

  }

  .actions {
    display: flex;
    justify-content: space-between;
  }
}

//select
.panel.mat-mdc-select-panel {
  background: var(--bg-main);
  color: white;

  .mdc-list-item__primary-text {
    color: white;
  }
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: var(--bg-main);

  .mdc-floating-label {
    color: white;
  }
}

.mat-mdc-select-value-text {
  color: white;
}

//menu select
.mat-mdc-menu-content {
  background-color: var(--bg-main);
}

.mat-mdc-menu-item .mdc-list-item__primary-text {
  color: white;
}
