<div class="Launch__buttons">
  <button mat-raised-button color="primary" class="btn"
          (click)="openDialog()"
  >
    <mat-icon>add</mat-icon>
    <span class="btn-text"> Add New task</span>
  </button>
  <div class="DropDown">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="editDialog()">
        <mat-icon>edit</mat-icon>
        <span>Edit Board</span>
      </button>

      <button mat-menu-item (click)="deleteBoard()">
        <mat-icon>delete</mat-icon>
        <span>Delete Board</span>
      </button>
    </mat-menu>
  </div>
</div>
