@use './../../../../scss/mixins' as btn;

.Launch__buttons {
  display: flex;
  align-items: center;

  .btn {
    border-radius: 2rem;

    .btn-text {
      @include btn.mobile {
        display: none;
      }
    }
  }
}

.mdc-menu-surface--open {
  background: var(--darkGray);
}

.mdc-list-item__primary-text {
  color: var(--color-text);
}

.mat-mdc-menu-item {
  .mat-icon-no-color {
    color: var(--color-text);
  }

  &:last-child {
    .mat-icon-no-color {
      color: red;
    }

    .mdc-list-item__primary-text {
      color: red;
    }
  }

  &:hover {
    opacity: 0.5;
  }

}
