
.Board {
  display: flex;
  justify-content: flex-start;
  height: 100%;
  color: var(--white);
  transition: left .2s ease;
  padding: var(--margin-medium) var(--margin-large);
  cursor: move;
  //overflow: auto;
  margin-bottom: 1rem;
  gap: 1rem;

}
















