.main {
  width: 500px;


  .actions {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
}

.mat-mdc-menu-content {

  background: var(--darkGray);
  color: var(--color-text);
  overflow-x: hidden;
}
