
.login-form {
  width: 350px;
  height: auto;
  margin-top: -100px;

  .form-title {
    text-align: center;
    padding: 25px 0;

    h1 {
      font-family: 'Nunito', sans-serif;
      font-weight: 800;
      font-size: 32px;
    }
  }

  .remember-me{
    display: flex;
    align-items: center;
    padding-bottom: 20px;

    .input-checkbox {
      display: none;
    }

      .label-checkbox{
        margin: 0;
        display: block;
        position: relative;
        padding-left: 26px;
        cursor: pointer;

        .bi-check-lg{
          font-size: 13px;
          color: transparent;
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          left: 0;
          top: 50%;
          width: 16px;
          height: 16px;
          border-radius: 2px;
          background: #e6e6e6;
          transform: translateY(-50%);

        }
        .txt1{
          font-size: 15px;
          color: #a28080;
        }

    }
  }

  .red {
    display: flex;
    width: 100%;
    color: #ae1100;
    justify-content: center;
    align-items: center;
    &:disabled{
      opacity: 0.5;

    }

    .bi {
      margin-right: 5px;
    }
  }

  .social-media {
    padding: 25px 0;
    text-align: center;

    .so-icons {
      border-radius: 8px;
      line-height: 0;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      margin: 0 8px;
      font-size: 18px;
    }
  }

}

.errorInput{
  border:1px solid red;
}

label {
 display: block;
  margin-bottom: 24px;
  width: 100%;
  small{
    text-align: center;
    max-width: 300px;
    padding: 5px;
    margin: 20px;
    color: #ed7e7e;
  }
}

input, button {
  border: 0;
  outline: 0;
  font-size: 16px;
  border-radius: 320px;
  padding: 16px;
  background: #ebecf0;
  text-shadow: 1px 1px 0 #fff;
}

input {
  margin-right: 8px;
  width: 100%;
  box-shadow: inset 2px 2px 5px #babecc,
  inset -5px -5px 10px #fff;
  transition: all 0.2s ease-in-out;
  appearance: none;

  &:focus {
    box-shadow: inset 1px 1px 2px #babecc,
    inset -1px -1px 2px #fff;
  }
}

button {
  color: #61677c;
  font-weight: bold;

  cursor: pointer;
  box-shadow: -5px -5px 20px #fff,
  5px 5px 20px #babecc;
  transition: all 0.2s ease-in-out;

  &:hover,&:disabled {
    box-shadow: -2px -2px 5px #fff,
    2px 2px 5px #babecc;
  }

  &:active {
    box-shadow: inset 1px 1px 1px #babecc,
    inset -1px -1px 2px #fff;
  }
}


div, p {
  color: #babecc;
  text-shadow: 1px 1px 1px #fff;
}

p {
  text-align: center;
  margin-top: 20px;
  font-weight: 800;
  font-size: 16px;
}


