:host {
  display: flex;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  color: var(--mediumGray);
  background: var(--main);
  font-weight: bold;
  max-width: 18.75rem;
  height: calc(100% - 6rem);
  z-index: 2;

  padding-top: 1rem;
  padding-bottom: var(--margin-large);
  border-right: 1px solid var(--borderLine);
  transition: transform .2s ease;
  cursor: default;
  overflow-x: hidden;


  /* @include mobile {
     display: flex;
     position: relative;
     align-items: center;
     border-radius: 8px;
     margin: 0 auto;
     top:5rem;
     left:0;
     right:0;
     height: fit-content;
     width: fit-content;
   }*/
}

