<div class="root">
  <div class="navbar bg-dark">
    <div class="navbar-brand">
      <div class="navbar-item">
        <h1 class="app-name">Kanban</h1>
      </div>
    </div>
  </div>

  <div class="board">
    <div class="board-bar">
     <div class="board-form">
       <input type="text" placeholder="Search..." [(ngModel)]="value">
       <button mat-raised-button (click)="openDialog()">Add new idea</button>
     </div>
    </div>

    <div class="board-wrapper">
      <div class="board-columns" cdkDropListGroup>
        <div class="board-column"
             *ngFor="let column of board"
        >
          <div class="column-title">
            {{column.name}}
          </div>

          <div class="tasks-container"
               cdkDropList
               [cdkDropListData]="column.tasks"
               (cdkDropListDropped)="drop($event)"
          >
                <div
                  [ngStyle]="{display:(item|search:value).length>0?'flex':'none'}"
                  class="task"
                  *ngFor="let item of column.tasks"
                  cdkDrag>
                        {{item |search:value}}
                </div>
          </div>
        </div>
    </div>
  </div>
</div>
</div>

