/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Lato:400,800,900');

$family-sans-serif: "Nunito", sans-serif;

*{
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
}

html {
  background-image: url('./assets/background.svg');
  background-size: cover;

  overflow-y: auto !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
