.form {
  background: var(--darkGray);
  color: var(--color-text);
  padding: 1rem;
  width: 500px;


  h1 {
    color: var(--color-text);
    text-align: center;
  }

  .input-column {
    width: 100%;
    display: flex;


    .form-field {
      width: 100%;
    }

    .btn-closed {
      color: #e3e1e1;
      height: 100%;
      margin-top: 5px;
    }

  }

  .form-field {
    width: 100%;
  }

  .actions {
    width: 100%;

    .btnForm {
      width: 100%;
      margin-bottom: 1rem;
      padding: 0;
    }
  }
}

.mat-mdc-menu-item .mdc-list-item__primary-text {
  //color: white;
}


