<div class="form">

  <h1 mat-dialog-title>Add New Board</h1>

  <div mat-dialog-content>
    <mat-form-field class="form-field">
      <mat-label>Name</mat-label>
      <input matInput type="text" [(ngModel)]="name">
      <button *ngIf="name" matSuffix mat-icon-button aria-label="Clear" (click)="name=''">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <div class="input-column" *ngFor="let item of columnsArr; index as i">
      <mat-form-field class="form-field">
        <mat-label>Column</mat-label>
        <input matInput type="text" [(ngModel)]="item.column">
        <button *ngIf="item.column" matSuffix mat-icon-button aria-label="Clear" (click)="item.column=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>

      <button *ngIf="columnsArr.length>1"
              class="btn-closed"
              matSuffix
              mat-icon-button
              (click)="deleteColumn(i)"
      >
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <div class="actions" mat-dialog-actions>

      <button class="btnForm"
              mat-raised-button
              (click)="addColumns()"
      >+ Add New Column
      </button>

      <button
        [disabled]="!name"
        class="btnForm" mat-raised-button
        (click)="closed()"
        color="primary">Create New Board
      </button>
    </div>
  </div>
</div>




