.form {
  background: var(--darkGray);
  color: var(--color-text);
  padding: 1rem;
  width: 500px;

  h1 {
    color: var(--color-text);
    text-align: center;
  }

  .column-title {
    color: var(--color-text);
    margin-left: 1rem;
    margin-bottom: 0.2rem;
  }

  .columns {
    width: 100%;
    display: flex;
    margin-bottom: 0.5rem;
  }

  .addColumn {
    width: 100%;
    margin-bottom: 0.5rem;
  }

  .form-field {
    width: 100%;
  }

  .actions {
    width: 100%;
    padding: 0;

    .btnForm {
      width: 100%;
    }
  }
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: var(--bg-main);
  color: var(--color-text);

  .mdc-floating-label {
    color: white;
  }
}

//h1
.mat-mdc-dialog-container {
  .mdc-dialog__title {
    color: var(--color-text);
  }
}

//input color text
.mdc-text-field:not(.mdc-text-field--disabled) {
  .mdc-text-field__input {
    color: var(--color-text);
  }
}
